*.aux
*.fdb_latexmk
*.fls
*.log
*.nav
*.out
*.snm
*.toc

*.swp

college-data-analyse-1.pdf
college-data-analyse-2.pdf
toets-data-analyse-versie1.pdf
toets-data-analyse-versie2.pdf
toetspapier.pdf
uitwerkingen-toets-versie1.pdf
uitwerkingen-toets-versie2.pdf
opgaven-data-analyse-1.pdf
